@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");

body {
    background-color: #94c5cc;
    color: #f8f8f8;
    font-family: "Raleway", "sans-se-rif";
    font-size: 19px;
    margin: auto;
    max-width: 1000px;
}

#headerBlock {
    background-color: #372554;
    width: 900px;
    height: 150px;
    border-radius: 5px;
    font-family: "Lobster Two", cursive;
    font-size: 40px;
}

h1 {
    padding-top: 10px;
    text-indent: 50px;
}

img {
    float: right;
    margin-right: 120px;
    margin-top: -100px;
}

#breakLine {
    width: 800px;
    height: 2px;
    background-color: #f8f8f8;
    margin-top: 0px;
}

h2 {
    margin-bottom: 0px;
}

 a{
    color: #f8f8f8;
}
 a:hover {
    color: blueviolet;
}
a:visited {
    color: greenyellow
}

footer {
    background-color: #372554;
    width: 900px;
    height: 90px;
    border-radius: 5px;
    text-align: center;
    padding-top: 20px;
}